body {
  padding-top: 40px;
}

/*
 * Global add-ons 
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.nowrap {
    white-space: nowrap;
}

/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  #sticky-sidebar {
    position:fixed;
  }

  .sidebar {
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding: auto 20px;
}
.nav-sidebar a.active {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.main .page-header {
  margin-top: 0;
}

.version_resource {
  padding-top: 50px;
}

.error {
  color: #cc3333;
}

.markdown {
  border: 1px solid;
  border-color: #ddd;
  background: #eee;
  padding: 1px 10px;
}

.markdown h1 {
  font-size: 125%;
  font-weight: bold;
}

.markdown h2 {
  font-size: 115%;
}

.cta-wrapper {
  margin-left: 140px;
}

.filter-label {
  min-width: 140px;
  padding: 5px 0px;
  font-weight: normal;
}

.input-fields-wrapper label {
  font-weight: normal;
  margin-right: 15px;
}
