@(
  data: io.flow.dependency.www.lib.UiData,
  organization: io.flow.dependency.v0.models.Organization,
  form: Form[controllers.OrganizationsController.UiForm],
  errorMessages: Seq[String] = Nil
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some("Edit organization")), errorMessages = errorMessages) {

  <div class="container">

    @helper.form(action = routes.OrganizationsController.postEdit(organization.key)) {

      @organizationForm(form, routes.OrganizationsController.show(organization.key))

    }

  </div>

}
