@(
  data: com.bryzek.dependency.www.lib.UiData,
  form: Form[controllers.ResolversController.UiForm],
  orgs: Seq[com.bryzek.dependency.v0.models.Organization],
  errorMessages: Seq[String] = Nil
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some("Add resolver")), errorMessages = errorMessages) {

  <div class="container">

    @helper.form(action = routes.ResolversController.postCreate()) {

      @resolverForm(form, orgs, routes.ResolversController.index())

    }

  </div>

}
