nameOverride: "dependency-www"
fullnameOverride: "dependency-www"

team: foundation

service:
  readinessFailureThreshold: 4
  readinessPeriodSeconds: 3
  readinessTimeoutSeconds: 3

image:
  repository: flowcommerce/dependency-www

resources:
  limits:
    memory: "768Mi"
    cpu: 1
  requests:
    memory: "768Mi"
    cpu: .2

jvmOpts:
  memory: 512m
  garbageCollector: ShenandoahGC

istio:
  alb: true
  albFlowioTarget: "alb-prod.flow.io"

istioIngress:
  enabled: true
  gateways:
    - key: dependency-www-flow-io
      tld: flow.io
      selector: ingressgateway-flow-io
      dns: true
      hosts:
        - dependency.flow.io

istioService:
  live:
    hosts:
      - dependency-www
      - dependency.flow.io
    gateways:
      - mesh
      - dependency-www-flow-io
    stages:
      - deployment: live
        weight: 100

deployments:
  live:
    minReplicas: 1
    maxReplicas: 1
    AWSRole: "arn:aws:iam::479720515435:role/flow-prod-eks-production-role"
    rateLimit:
      perPod:
      - name: local-ratelimit
        shadow_enabled: true
        filterEnforcedPercentage: "100"
        All:
          maxTokens: "200"
          maxTokensPerFill: "200"
          tokensFillInterval: "1s"

nodeSelector:
  karpenter/role: workers
tolerations:
  - key: "role"
    operator: "Equal"
    value: "workers"
    effect: "NoSchedule"
topologySpreadConstraints:
  schedule: "DoNotSchedule"

rolloutResource:
  enabled: false

canary:
  enabled: false

datadogMonitors:
- type: trace.akka_http.request.errors-sum
  warning:
    threshold: 0.1
  alert:
    notificationTarget: '@slack-team-foundation-notifications'
    threshold: 0.25
- type: trace.akka_http.request-avg
  alert:
    notificationTarget: '@slack-team-foundation-notifications'
    threshold: '20'
  warning:
    threshold: '10'
- type: missing-metrics
