nameOverride: "dependency-api"
fullnameOverride: "dependency-api"

service:
  nameOverride: "dependency"
  readinessFailureThreshold: 4
  readinessPeriodSeconds: 3
  readinessTimeoutSeconds: 3

team: foundation

image:
  repository: flowcommerce/dependency-api

resources:
  limits:
    memory: "3000Mi"
    cpu: 1
  requests:
    memory: "3000Mi"
    cpu: 0.2

jvmOpts:
  memory: 2100m
  garbageCollector: ShenandoahGC

istio:
  alb: true

deployments:
  live:
    minReplicas: 1
    maxReplicas: 1
    AWSRole: "arn:aws:iam::479720515435:role/flow-prod-eks-production-role"
    rateLimit:
      perPod:
      - name: local-ratelimit
        shadow_enabled: true
        filterEnforcedPercentage: "100"
        All:
          maxTokens: "200"
          maxTokensPerFill: "200"
          tokensFillInterval: "1s"

nodeSelector:
  karpenter/role: workers
tolerations:
  - key: "role"
    operator: "Equal"
    value: "workers"
    effect: "NoSchedule"
topologySpreadConstraints:
  schedule: "DoNotSchedule"

rolloutResource:
  enabled: false

canary:
  # Disable this to follow the default RollingUpdate Strategy
  enabled: false

datadogMonitors:
- type: trace.akka_http.request.errors-sum
  warning:
    threshold: 0.1
  alert:
    notificationTarget: '@slack-team-foundation-notifications'
    threshold: 0.25
- type: trace.akka_http.request-p95
  alert:
    notificationTarget: '@slack-team-foundation-notifications'
- type: missing-metrics
