@(
  data: io.flow.dependency.www.lib.UiData,
  org: io.flow.dependency.v0.models.Organization,
  form: Form[controllers.MembersController.UiForm],
  errorMessages: Seq[String] = Nil
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some(s"${org.key}: Add member")), errorMessages = errorMessages) {

  <div class="container">

    @helper.form(action = routes.MembersController.postCreate(org.key)) {

      @error.map { msg => <li><span class="error">@msg</span> }

      <fieldset>

          @helper.inputText(
              form("email"),
              Symbol("_label") -> "Email address of user to add",
              Symbol("_error") -> form.error("email")
          )

          @helper.select(
              form("role"),
              options = io.flow.dependency.v0.models.Role.all.map( r => (r.toString, r.toString) ),
              Symbol("_label") -> "Role",
              Symbol("_error") -> form.error("role")
          )

      </fieldset>

      <button class="btn btn-large btn-primary" type="submit">Submit</button>

    }

  </div>
}
