@(
  data: io.flow.dependency.www.lib.UiData,
  recommendations: io.flow.play.util.PaginatedCollection[io.flow.dependency.v0.models.Recommendation]
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some("Recommended Upgrades"))) {

  @if(recommendations.isEmpty) {

    <p><em>We do not have any upgrade recommendations for you. When
    you add a project, we begin monitoring all of its dependencies,
    creating recommendations for you.</em></p>

    <p>
      <a href="@routes.ProjectsController.github()">Add a project</a>
    </p>

  } else {
    <div class="table-responsive">
      <table class="table">
	<thead>
	  <tr>
	    <th>Date</th>
	    <th>Project</th>
	    <th>Name</th>
	    <th>Current</th>
	    <th>Recommended</th>
	  </tr>
	</thead>
        @recommendations.items.map { rec =>
          <tr>
            <td>@io.flow.util.DateHelper.shortDate(TimeUtil.toZonedDateTime(rec.createdAt))</td>
            <td><a href="@routes.ProjectsController.show(rec.project.id)">@{rec.project.name}</a></td>
            <td><a href="@data.urls.recommendation(rec)">@io.flow.play.util.Text.truncate(rec.name, 50)</a></td>
            <td>@rec.from</td>
            <td>@rec.to</td>
          </tr>
        }
      </table>
    </div>

    @if(recommendations.hasPrevious || recommendations.hasNext) {
      <ul class="pager">
        @if(recommendations.hasPrevious) {
          <li><a href="@routes.ApplicationController.index(organization = data.organization, page = recommendations.page - 1)">Previous</a></li>
       }
        @if(recommendations.hasNext) {
         <li><a href="@routes.ApplicationController.index(organization = data.organization, page = recommendations.page + 1)">Next</a></li>
        }
      </ul>
    }
  }

}
